{
  "permissions": {
    "defaultMode": "auto"
  },
  "model": "opus",
  "statusLine": {
    "type": "command",
{{- if eq .chezmoi.os "windows" }}
    "command": "pwsh -NoProfile -NoLogo -File {{ .chezmoi.homeDir }}/.claude/statusline.ps1",
{{- else }}
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline.sh",
{{- end }}
    "refreshInterval": 3
  },
  "enabledPlugins": {
    "caveman@caveman": true,
    "ponytail@ponytail": true
  },
  "extraKnownMarketplaces": {
    "ponytail": {
      "source": {
        "source": "github",
        "repo": "DietrichGebert/ponytail"
      }
    }
  },
  "language": "Turkish",
  "effortLevel": "low",
  "tui": "fullscreen",
  "theme": "dark",
  "autoCompactEnabled": true,
  "switchModelsOnFlag": false
}
